
@media screen and (min-width: 480px) {

  /* Page About
   * Two Column Layout
   -------------------------------------------------------------------------- */

  #primary {
    width: 50%;
    float: left;
  }

  #secondary {
    width: 40%;
    float: right;
  }

  /* Page: Portfolio
   * Three Column Gallery
   -------------------------------------------------------------------------- */

  #gallery li {
    width: 28.3333%
  }

  #gallery li:nth-child(3n+1) {
    clear: left;
  }

  /* Page: About
   * Three Column Gallery
   -------------------------------------------------------------------------- */

   .profile-photo {
    float: left;
    margin: 0 5% 80px 0;
   }
}

@media screen and (min-width: 660px) {
  /* Header
   -------------------------------------------------------------------------- */

  nav {
    background: none;
    float: right;
    font-size: 1.4em;
    margin-right: 5%;
    text-align: right;
    width: 45%;
  }

  #logo {
    float: left;
    margin-left: 5%;
    text-align: left;
    width: 45%;
  }

  h1 {
    font-size: 2.5em;
  }

  h2 {
    font-size: 2em;
    margin-bottom: 20px;
  }

  header {
    border-bottom: 5px solid #9B262E;
    margin-bottom: 60px;
  }
}
