
/* General Styles
----------------------------------------------------------------------------- */

body {
  background-color: #e74c3c;            /* red */
  color: #fff;                          /* white font */
  font-family: 'Maven Pro', sans-serif;
}

#wrapper {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 5%;
}

a, a:visited {
  text-decoration: none;
  color: white;
}

a:hover {
  font-weight: bold;
}

a:active {
  color: #730707;
}

img {
  max-width: 100%;
}

h3 {
  margin: 0 0 1em 0;
}

/* Header
----------------------------------------------------------------------------- */

header {
  background: #e74c3c;
  border-color: #599a68;
  text-align: center;
  width: 100%;
  float: left;
  margin: 0 0 30px 0;
  padding-top: 5px 0 0 0;
}

header h1, header h2 {
  color: white;
  font-family: 'Overlock', serif;
  font-weight: 900;
  font-style: italic;
}

header h1 {
  margin: 15px 0;
  font-size: 2.5em;
  line-height: 0.8em;
}

header h2 {
  font-size: 1.2em;
  margin: -5px 0 0;
}

#logo {
  text-align: center;
  margin: 0;
}

/* Navigation
----------------------------------------------------------------------------- */

nav {
  background-color: #c0392b;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav li {
  display: inline-block;
  padding: 15px 10px;
  font-size: 1.1em;
}

nav a.selected {
  color: #730707;
}

/* Footer
----------------------------------------------------------------------------- */

footer {
  font-size: 0.90em;
  text-align: center;
  padding-top: 50px;
  color: #ccc;
  clear: both;
}

.social-icon {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}

/* Page Portfolio
----------------------------------------------------------------------------- */

#gallery {
  padding: 0;
  margin: 0;
  list-style: none;
}

#gallery li {
  float: left;
  width: 45%;
  margin: 2.5%;
  background-color: #c0392b;
  color: #bdc3c7;
}

#gallery p {
  padding: 2.5% 10%;
  font-size: 1em;
}

/* Page About
----------------------------------------------------------------------------- */

.profile-photo {
  display: block;
  max-width: 150px;
  margin: 0 auto 30px;
  border-radius: 100%;
}

/* Page Contact
----------------------------------------------------------------------------- */

.contact-info {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0.9em;
}

.contact-info li.phone a {
  background-image: url('../img/phone.png');
}

.contact-info li.mail a {
  background-image: url('../img/mail.png');
}

.contact-info li.twitter a {
  background-image: url('../img/twitter.png');
}

.contact-info a {
  display: block;
  min-height: 20px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding: 0 0 0 30px;
  margin: 0 0 10px;
}
